body{
    margin: 0;
}
.wrap{
    margin: 0;
    background: gainsboro;
    min-height: 100px;
}

.SimpsonCharacters{
    margin: 30px;
    background: linen;
    display: flex;
    flex-wrap: wrap;
    text-align: inherit;
    justify-content: space-evenly;
}

